%article.business_category
  %header
    - @categories.each do |category|
      %h3= link_to(category.name, category)
      .businesses.row
        - category.recent_businesses.each do |business|
          .business.col-sm-4
            = link_to business do
              %h4= business.name
            %p= business.description
            = link_to business do
              = image_tag business.small_cover_url