%article.profile 
  .container
    .row
      .profile_large_cover.col-sm-7.col-sm-offset-1
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
      .video_info.col-sm-3
        %header
          %h3= @business.name
          %span Rating: 3/5
        %p= @business.description
        .actions
          %a.btn.btn-primary(href="") See more
%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@business, @review] do |f|
        %fieldset
          .form-group
            .row
              .col-sm-3
                = f.select :rating, [[], [5, "5 stars"], [4, "4 stars"], [3, "3 stars"], [2, "2 stars"], [1, "1 stars"]], { label: "Rate this video" }, { class: "form-control", control_col: "col-sm-3"}
          .form-group
            .row
              .col-sm-8
                = f.text_area :review, label: "Write review", control_col: "col-sm-8", rows: "6"
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit"
          = link_to "Cancel", @business
      %header 
        %h3 User Reviews (253)
      %ul 
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span= "Rating: #{review.rating}/5"
                %p
                  = "by "
                  = link_to review.creator.full_name, review.creator
              .col-sm-8
                %p= "#{review.review}"